{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEED BACK</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <script src="https://kit.fontawesome.com/22743b5cbb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="resturant_nav">
            <div class="resturant_logo">
                <a href="{%url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="urban_umami web logo"></a>
            </div>
            
            <div class="hamburger" onclick="this.nextElementSibling.classList.toggle('active')">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="resturant_nav_items">
                <ul type="none">
                    <li><a href="{% url 'menu' %}">MENU</a></li>
                    <li>
                    {% if request.session.role == 'customer' %}
                    <a href="#" id="order">ORDER</a>
                    {% else %}
                    <a href="{% url 'order' %}">ORDER</a>
                    {% endif %}
                    </li>
                    <li><a href="{%url 'reserve' %}">RESERVE</a></li>
                    <li><a href="{% url 'about' %}">ABOUT US</a></li>
                </ul>
            </div>
            <div class="resturant_login">
                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="resturant_feedback_section">
                <h2>Rate Your Dining Experience</h2>
                <p>We’d love to hear how your visit was!</p>
                <center>
                    <form method="post">
                        {% csrf_token %}

                        <span>FULL NAME</span>
                        <input type="text" name="name" required>

                        <span>EMAIL</span>
                        <input type="email" name="email" required>

                        <span>WHAT DID YOU ORDER?</span>
                        <input type="text" name="order">

                        <span>FOOD RATING</span>
                        <select name="food_rating" required>
                            <option value="">Select rating</option>
                            <option value="5">★★★★★ Excellent</option>
                            <option value="4">★★★★ Very Good</option>
                            <option value="3">★★★ Good</option>
                            <option value="2">★★ Average</option>
                            <option value="1">★ Poor</option>
                        </select>

                        <span>SERVICE RATING</span>
                        <select name="service_rating" required>
                            <option value="">Select rating</option>
                            <option value="5">★★★★★ Excellent</option>
                            <option value="4">★★★★ Very Good</option>
                            <option value="3">★★★ Good</option>
                            <option value="2">★★ Average</option>
                            <option value="1">★ Poor</option>
                        </select>

                        <span>AMBIENCE RATING</span>
                        <select name="ambience_rating" required>
                            <option value="">Select rating</option>
                            <option value="5">★★★★★ Excellent</option>
                            <option value="4">★★★★ Very Good</option>
                            <option value="3">★★★ Good</option>
                            <option value="2">★★ Average</option>
                            <option value="1">★ Poor</option>
                        </select>

                        <span>COMMENTS</span>
                        <textarea name="message"></textarea>

                        <button type="submit">Submit Feedback</button>
                    </form>

                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}

                </center>
            </div>
        </section>
    </main>

    <footer>
        <div class="resturant_footer">
            <div class="resturant_footer_div1">
                <a href="{% url 'contact' %}">CONTACT US</a>
                <a href="{% url 'terms' %}">TERMS OF CONDITIONS</a>
                <a href="{% url 'privacy' %}">PRIVACY POLICY</a>
                <a href="{% url 'feedback' %}" id="mark">FEEDBACK</a>
            </div>
            <div class="resturant_footer_div2">
                <a href="https://www.instagram.com/urbanumami_restaurant/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://x.com/search?q=spicy%20food%20resturants&src=typed_query&f=top"><i
                        class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com/results?search_query=urban+umami+resturant"><i
                        class="fa-brands fa-youtube"></i></a>
            </div>

            <p class="resturant_copy">&copy; 2025 Urban Umami. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>