{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAITER LOGIN</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
</head>

<style>
    body {
        background-image: url("{% static 'images/login_background.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
</style>

<body>

    <main class="resturant_login_credentials_main">
        <div class="resturant_login_credentials">
            <div>
                <h2>Waiter Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    <span>Waiter Email:</span>
                    <input type="email" name="email" placeholder="Enter your email" required><br>
                    <span>Password:</span>
                    <input type="password" name="password" placeholder="Enter your password" required><br>
                    <button type="submit">Login Waiter</button>
                </form>
                <p>Create an account ? <a href="{% url 'waiter_register' %}">Register</a></p>
            </div>
        </div>
    </main>
</body>

</html>